<h1>Doctor <%= @doctor.name %></h1> <br>
<h3>Specialty: <%= @doctor.specialty %></h3> <br>
<h3>Studied at: <%= @doctor.university %></h3> <br>

<h4>Hospital: <%= @doctor.hospital.name %></h4>

<h3><%= @doctor.name %>'s Patients:</h3>
<% @patients.each do |patient| %>
  <section id= "patient-<%= patient.id %>">
    <%= patient.name %>
    <%= button_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
  </section>
<% end %>
