<h1><%= @doctor.name %></h1> <br>
<h3><%= @doctor.specialty %></h3> <br>
<h3><%= @doctor.university %></h3> <br>

<p>Hospital: <%= @doctor.hospital.name %></p>

<p><%= @doctor.name %>'s Patients</p>
<% @patients.each do |patient| %>
  <section id= "patient-<%= patient.id %>">
    <%= patient.name %>
    <%= button_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
  </section>
<% end %>
